* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html, body {
  height: 100%;
  background-color: #F3F7FB;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  position: fixed;
  height: 60px;
  background-color: #0D47A1;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: white;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
}

.container nav {
  display: flex;
  gap: 20px;
}

.container a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
}

.container a:hover {
  color: #90CAF9;
}

.gallery-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 140px 20px 80px;
  background-color: #ffffff;
}

.hero h1 {
  font-size: 60px;
  font-weight: 350;
  color: #000000;
}

.paragraph {
  max-width: 700px;
  margin: 15px auto 0;
  font-size: 18px;
  color: #5c5b5b;
}

.gallery-section {
  max-width: 1200px;
  margin: 0 auto 80px;
  padding: 0 20px;
  text-align: center;
}

.gallery-title {
  font-size: 45px;
  color: #0B3D91;
  margin: 30px 0 20px;
  font-weight: 500;
}

.gallery {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
}

.gallery img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(6, 6, 6, 0.398);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}


footer {
  background-color: #0B3D91;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
}

footer p {
  font-weight: 200;
  font-size: 15px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }

  .paragraph {
    font-size: 16px;
    padding: 0 10px;
  }

  .gallery img {
    height: 200px;
  }
}
